<?xml version="1.0" enconding="utf-8"?>

<!--config.xml reference:https://build.phonegap.com/docs/config-xml-->
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.phonegap.appMarx"
        version = "1.0.0">
    <name>APP Grupo 5 </name>
    <description>
    Hello Grupo 5 Aplication 2017.
    </description>
 <author href="https://github.com/JhairxitoRD/PROYECTOMOVIL2017.git" email="Jhairrd@hotmail.com">
 Grupo 5 Team
 </author>
 <content src="index.php"/>
 <!-- <access origin="*" /> -->
 </widget>