<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.ludwynproject3"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Ludwyn Project</name>

  <description>
      Proyecto Ludwyn.
  </description>

  <author href="https://github.com/Ludwyn/LudwynProject3.git" email="Ludwyn_QQ@hotmail.com">
      Ludwyn
  </author>

</widget>